@model QuanLyMyPham.Models.SanPham

@{
    ViewBag.Title = "SuaSP";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<link href="~/Content/nicepage.css" rel="stylesheet" />
<div class="container">
    <div class="row u-align-left u-form u-form-1">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <br />
            <fieldset>
                <h2 class="u-text u-text-default u-text-palette-1-base u-text-1">Chỉnh sửa sản phẩm</h2>
                <br />
                @Html.HiddenFor(model => model.MaSP)

                <div class="editor-label">
                    Tên sản phẩm
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TenSP)
                    @Html.ValidationMessageFor(model => model.TenSP)
                </div>
                <br />
                <div class="editor-label">
                    Giá
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Gia)
                    @Html.ValidationMessageFor(model => model.Gia)
                </div>
                <br />
                <div class="editor-label">
                    Mô tả
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MoTa)
                    @Html.ValidationMessageFor(model => model.MoTa)
                </div>

                <p>
                    <button class="u-btn u-btn-1" type="submit" value="Delete" style="margin-top:20px;">Sửa</button>
                </p>
            </fieldset>
        }
    </div>
</div>
